In [1]:
#CREATION OF TUPLE

In [19]:
tup1=(1,2.5,3+2j,'4')

In [20]:
tup2=tuple((1,2.5,3+2j,'4'))

In [21]:
print(tup1,tup2,sep='\n')

(1, 2.5, (3+2j), '4')
(1, 2.5, (3+2j), '4')

In [24]:
print(type(tup1),type(tup2))

<class 'tuple'> <class 'tuple'>

In [25]:
tup=([1,2,3,4])

In [26]:
print(tup,type(tup),sep='\n')

[1, 2, 3, 4]
<class 'list'>

In [27]:
tup=(1,[1,2],{1,2})

In [28]:
print(tup,type(tup),sep='\n')

(1, [1, 2], {1, 2})
<class 'tuple'>

In [29]:
tup=({1,2})

In [30]:
print(tup,type(tup),sep='\n')

{1, 2}
<class 'set'>